@model ICP.Modules.Mvc.Payment.Models.QueryTrade.TopUpTradeInfo

@{
    Layout = "~/Areas/Payment/Views/Shared/_QueryTradeLayout.cshtml";
}
@if (Model != null)
{
    <div id="wrapper">
        <header></header>
        <section id="record_detial_box">
            <ul class="toggle_box" id="record_detial">
                <li>
                    <div class="flex">
                        <div class="col"><span>執行時間</span></div>
                        <div class="col">
                            <span>
                                @Html.DisplayFor(model => model.CreateDate)
                            </span>
                        </div>
                    </div>
                </li>
                @if (Model.TradeStatus == 1)
                {
                    <li>
                        <div class="flex">
                            <div class="col"><span>儲值時間</span></div>
                            <div class="col">
                                <span>
                                    @Html.DisplayFor(model => model.PaymentDate)
                                </span>
                            </div>
                        </div>
                    </li>
                }
                <li>
                    <div class="flex">
                        <div class="col"><span>類別</span></div>
                        <div class="col"><span>儲值</span></div>
                    </div>
                </li>
                <li>
                    <div class="flex">
                        <div class="col"><span>狀態</span></div>
                        <div class="col green">
                            <span>
                                @if (Model.TradeStatus == 0)
                                {
                                    @Html.Raw("未完成")
                                }
                                else if (Model.TradeStatus == 1)
                                {
                                    @Html.Raw("儲值成功")
                                }
                                else
                                {
                                    @Html.Raw("儲值失敗")
                                }
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="flex">
                        <div class="col"><span>儲值方式</span></div>
                        <div class="col">
                            <span>
                                @if (Model.PaymentTypeID == 4)
                                {
                                    @Html.Raw("現金儲值")
                                }
                                else if (Model.PaymentTypeID == 5)
                                {
                                    @Html.Raw("發票儲值")
                                }
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="flex">
                        <div class="col"><span>儲值金額</span></div>
                        <div class="col green">
                            <span>
                                @Html.DisplayFor(model => model.Amount)
                            </span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="flex">
                        <div class="col"><span>編號</span></div>
                        <div class="col">
                            <span>
                                @Html.DisplayFor(model => model.TradeNo)
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="sep">
                <p class="br green">儲值資訊</p>
            </div>
            <ul class="toggle_box" id="record_detial">
                <li>
                    <div class="flex">
                        <div class="col"><span>儲值通路</span></div>
                        <div class="col">
                            <span>
                                @Html.Raw(Model.MerchantName + "-" + Model.StoreName)
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
            @if (Model.PaymentTypeID == 4)
            {
                if (Model.CancelFlag == 1)
                {
                    <div class="clear" style="background:#FFF">
                        <input type="button" value="取消現金儲值" name="取消現金儲值" class="btn_blue dd" onclick="iCashJSContext.call('CancelTopUpCode',{merchantName:'@Model.MerchantName' , topupCash:@Model.Amount , code:'@Model.Barcode'})">
                    </div>
                }
                <div class="note_bg">
                    <div class="text note_content">
                        取消儲值說明：
                        請於儲值成功後30分鐘內，在未進行任何交易、儲值及提領的狀態下，至原門市出示收據及訂單內取消儲值QRcode或條碼，方可取消儲值。
                    </div>
                </div>
            }
        </section>
    </div>
}

<script src="@Url.Content("~/Scripts/icashjscontext.js")" type="text/javascript"></script>
<script type="text/javascript">
    if ('@ViewBag.errMsg' != "") {
        alert('@ViewBag.errMsg');
    }

    // 呼叫APP原生用的
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.async = true;
        js.src = "@Url.Content("~/Scripts/icashjscontext.js")";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'icash-JSContext'));
</script>

<script type="text/javascript">
</script>