@using ICP.Modules.Mvc.Admin.Models.CustomerManager
@model EditCellPhoneModel
@{
    if (Request.IsAjaxRequest())
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutForAjax.cshtml";
    }
}
@section scripts
{
    <script src="~/Areas/Admin/Scripts/CustomerManager/Edit/action.js"></script>
}
<div id="mobile-modify-popup" class="mobile-modify-popup edit-ac-popup mg-popup mfp-with-anim">
    <div class="pp-container">
        @Html.ValidationSummary()
        @using (Html.BeginForm("EditCellPhone", "CustomerManager"))
        {
            <input type="hidden" value="@ViewBag.id" name="id" />
            <input type="hidden" value="@Model.MID" name="MID" />
            <div class="pp-content">
                <h4 class="pp-title">手機號碼修改</h4>
                <div class="pp-form">
                    <dl>
                        <dt>手機號碼<sup class="inp-required">*</sup></dt>
                        <dd>
                            @Html.TextBoxFor(t => t.CellPhone, new { @class = "pp-inp", placeholder = "請輸入回報者手機號碼" })
                            @Html.ValidationMessageFor(t => t.CellPhone, null, new { @class = "input-error-txt" }, "div")                            
                        </dd>
                    </dl>

                    <dl>
                        <dt>修改原因<sup class="inp-required">*</sup></dt>
                        <dd>                           
                            @Html.TextAreaFor(t => t.Remark, new { @class = "pp-textarea", placeholder = "請輸入手機修改原因", @maxLength = 100 })
                            <div class="input-tip-txt itt-r itt-er" id="input-tip-txt">0/100</div>
                            @Html.ValidationMessageFor(t => t.Remark, null, new { @class = "input-error-txt" }, "div")
                        </dd>
                    </dl>
                </div>

                <div class="mp-btn-block2">
                    <a href="#" class="btn disabled link-submit" title="送出修改">送出修改</a>
                </div>

            </div>


        }
    </div>
</div>