@using ICP.Modules.Mvc.Admin.Models.CustomerSecurityManage
@model List<RegistIPListLogModel>
@{    
    if (Request.IsAjaxRequest())
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutForAjax.cshtml";
    }
}

<div id="blacklist-history-popup" class="blacklist-history-popup mg-popup mfp-with-anim">
    <div class="pp-container">
        <div class="pp-content">
            <h4 class="pp-title">明細</h4>

            <div class="pp-function">
                <div class="btn-box">                    
                    <a href="@Url.Action("RegistIPBlackListExportLogCSV", new { IP = @ViewBag.IP })" class="btn btn-blue-border bd-rdi" title="匯出EXCEL">
                        <span class="icon-ic-exprot bb-icon"></span>
                        匯出EXCEL
                    </a>
                </div>
            </div>
            <div class="pp-table pt-warninglist-detail">
                <div class="pp-table-header">
                    <ul>
                        <li><p class="sth-txt">序號</p></li>
                        <li><p class="sth-txt">IP位置</p></li>
                        <li><p class="sth-txt">建立時間</p></li>
                        <li><p class="sth-txt">電支帳號</p></li>
                    </ul>
                </div>
                <div class="pp-table-body">
                    <table>
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.RowNo</td>
                            <td>@item.IP</td>
                            <td>
                                @if (item.CreateDate != null)
                                {
                                    <span>@item.CreateDate.ToString("yyyy/MM/dd")<br />@item.CreateDate.ToString("HH:mm:ss")</span>
                                }
                            </td>                           
                            
                            <td>@item.ICPMID</td>
                            
                        </tr>

                        }                        

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>



