@using ICP.Modules.Mvc.Admin.Models.ViewModels
@using ICP.Library.Models.MemberModels;
@model EditBankAccountVM
@{
    if (Request.IsAjaxRequest())
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutForAjax.cshtml";
    }

    long AccountID = ViewBag.AccountID;
    long MID = ViewBag.MID;
}
<div id="bank-verify-popup" class="bank-verify-popup mg-popup mfp-with-anim">
    <div class="pp-container">
        @using (Html.BeginForm())
        {
            <div class="pp-content">
                <h4 class="pp-title">銀行驗證</h4>
                <div class="pp-form">
                    <dl>
                        <dt>銀行帳號</dt>
                        <dd>
                            <div class="pf-regular-box">@Model.MemberBankAccount.BankAccount</div>
                            <input type="hidden" name="AccountID" value="@AccountID" />
                            <input type="hidden" name="MID" value="@MID" />
                            @Html.HiddenFor(t => t.MemberBankAccount.BankCode)
                            @Html.HiddenFor(t => t.MemberBankAccount.BankAccount)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="mp-btn-block2">
                <a href="#" class="btn link-submit" title="送出">送出</a>
            </div>
        }
    </div>
</div>