@using ICP.Modules.Mvc.Admin.Models.ViewModels;
@model QueryMemberIDNOVM
@section header
{
    <link href="~/Areas/Admin/Content/css/member.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Areas/Admin/Scripts/MemberIDNO/Index/action.js"></script>
}
<div class="sc-box no-edge">
    <div id="refreshForm" style="display:none;">
        @using (Ajax.BeginForm("Query", new AjaxOptions { UpdateTargetId = "queryResult" }))
        {
            <input type="submit" />
            <input type="hidden" name="PageSize" value="20" />
            <input type="hidden" name="PageNo" value="1" />
            @Html.TextBoxFor(t => t.StartDate, "{0:yyyy-MM-dd}")
            @Html.TextBoxFor(t => t.EndDate, "{0:yyyy-MM-dd}")
            @Html.TextBoxFor(t => t.ICPMID)
            @Html.TextBoxFor(t => t.CName)
            @Html.TextBoxFor(t => t.IDNO)
            @Html.Hidden("Status")
        }
    </div>
    @using (Ajax.BeginForm("Query", null, new AjaxOptions { UpdateTargetId = "queryResult", HttpMethod = "POST" }, new { id = "QueryForm" }))
    {
        <input type="submit" id="btnQuery" value="query" style="display:none;" />
        <div class="scb-form sf-2column">
            <dl class="sbf-date-single">
                <dt class="oneline-inp">更新日期<sup class="inp-required">*</sup></dt>
                <dd class="sbf-date-box">
                    <label class="sdb-item sdb-date">
                        @Html.TextBoxFor(t => t.StartDate, "{0:yyyy-MM-dd}", new Dictionary<string, object> {
                            { "id", "queryStartDate" },
                            { "class", "flatpickr flatpickr-input active minD" },
                            { "placeholder", "起始日期" },
                            { "readonly", "readonly" },
                            { "flatpickr-minDate", DateTime.Today.AddYears(-1).ToString("yyyy-01-01") },
                            { "flatpickr-maxDate_input", "#queryEndDate" }
                        })
                    </label>
                    <span class="sdb-txt">至</span>
                    <label class="sdb-item sdb-date">
                        @Html.TextBoxFor(t => t.EndDate, "{0:yyyy-MM-dd}", new Dictionary<string, object> {
                            { "id", "queryEndDate" },
                            { "class", "flatpickr flatpickr-input active maxD" },
                            { "placeholder", "結束日期" },
                            { "readonly", "readonly" },
                            { "flatpickr-minDate_input", "#queryStartDate" },
                            { "flatpickr-maxDate", DateTime.Today.ToString("yyyy-MM-dd") }
                        })
                    </label>
                </dd>
            </dl>

            <dl>
                <dt class="oneline-inp">電支帳號</dt>
                <dd>
                    @Html.TextBoxFor(m => m.ICPMID, new { @placeholder = "請輸入電支帳號", @maxlength = "16" })
                </dd>
            </dl>

            <dl>
                <dt class="oneline-inp">驗證狀態</dt>
                <dd>
                    <label class="def-select">
                        <select name="Status">
                            <option value="0">全部</option>
                            <option value="1">待驗證</option>
                            <option value="2">文件審核通過</option>
                            <option value="3">文件審核未通過</option>
                            <option value="4">身分驗證通過</option>
                            <option value="5">身分驗證未通過</option>
                        </select>
                    </label>
                </dd>
            </dl>

            <dl>
                <dt class="oneline-inp">個人姓名</dt>
                <dd>
                    @Html.TextBoxFor(m => m.CName, new { @placeholder = "請輸入會員姓名" })
                </dd>
            </dl>

            <dl>
                <dt class="oneline-inp">身分證字號</dt>
                <dd>
                    @Html.TextBoxFor(m => m.IDNO, new { @placeholder = "請輸入身分證字號" })
                </dd>
            </dl>
        </div>

        <div class="btn-box">
            <a href="javascript:;" class="btn link-submit" title="查詢" id="lnkQuery">查詢</a>
            <a href="javascript:;" class="btn btn-blue-border clear-form" title="清除條件">清除條件</a>
        </div>
    }
</div>
<div id="queryResult">
</div>
