@model ICP.Modules.Mvc.Admin.Models.AccountForgetPwdModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutForAnonymous.cshtml";
}
@section header{
    <link href="~/Areas/Admin/Content/css/login.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Areas/Admin/Scripts/Account/ForgetPwd/action.js"></script>
}
@Html.ValidationSummary(false)
<div class="site-body sb-noleftnav">
    <div class="site-content-wrapper">

        <div class="site-content">

            <div class="sc-box scb-mini login-box">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <h3 class="login-title">忘記密碼</h3>
                    <div class="login-form">
                        <dl>
                            <dt>帳號</dt>
                            <dd>
                                @Html.TextBoxFor(t => t.Account, new { placeholder = "請輸入您的帳號" })
                                @Html.ValidationMessageFor(t => t.Account, null, new { @class = "input-error-txt" }, "div")
                            </dd>
                        </dl>
                        <dl>
                            <dt>E-mail</dt>
                            <dd>
                                @Html.TextBoxFor(t => t.Email, new { type = "email", placeholder = "請輸入您的E-mail" })
                                @Html.ValidationMessageFor(t => t.Email, null, new { @class = "input-error-txt" }, "div")
                            </dd>
                        </dl>
                    </div>

                    <div class="btn-box">
                        <a href="#" class="btn link-submit" title="送出">送出</a>
                    </div>
                }
            </div>

        </div>
    </div>
</div>