@using ICP.Modules.Mvc.Admin.Models.ViewModels.CustomerServiceRecord;
@model IPagedList<QueryCustomServiceRecordResultVM>
@{
    Layout = null;
    QueryCustomServiceRecordVM query = (QueryCustomServiceRecordVM)ViewBag.QueryModel;
    if (Model.Count == 0)
    {
        Html.RenderPartial("~/Areas/Admin/Views/Shared/Templates/NoData.cshtml");
        return;
    }

    Func<string, string> Empty2Dash = str =>
    {
        return !string.IsNullOrWhiteSpace(str) ? str : "-";
    };

    Func<string, string, string> GetLastModifier = (CreateUser, Modifier) =>
    {
        if (string.IsNullOrWhiteSpace(Modifier))
            return Empty2Dash(CreateUser);
        return Modifier;
    };

    Func<DateTime, DateTime?, DateTime> GetLastModifierTime = (CreateDate, ModifyDate) =>
    {
        if (ModifyDate == null)
            return CreateDate;
        return (DateTime)ModifyDate;
    };
}
<div class="sc-function">
    <div class="btn-box">
        <a href="@Url.Action("Export", query)" class="btn btn-blue-border bd-rdi" title="匯出 EXCEL 檔">
            <span class="icon-ic-exprot bb-icon"></span>
            匯出 EXCEL 檔
        </a>
    </div>
</div>
<div class="sc-box scb-table st-control st-service-rec">
    <div class="scb-table-header">
        <ul>
            <li><p class="sth-txt">案件編號</p></li>
            <li><p class="sth-txt">問題類別</p></li>
            <li><p class="sth-txt">進線管道</p></li>
            <li><p class="sth-txt">回報者姓名</p></li>
            <li><p class="sth-txt">手機號碼</p></li>
            <li><p class="sth-txt">電支帳號</p></li>
            <li><p class="sth-txt">E-mail</p></li>
            <li><p class="sth-txt">訂單編號</p></li>
            <li><p class="sth-txt">記錄建立日期</p></li>
            <li><p class="sth-txt">最後記錄人</p></li>
            <li><p class="sth-txt">最後修改時間</p></li>
            <li><p class="sth-txt">案件進度</p></li>
            <li><p class="sth-txt">案件內容</p></li>
        </ul>
    </div>
    <div class="scb-table-body">
        <table>
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CaseNo</td>
                    <td>@item.TypeDescription</td>
                    <td>@item.GateWayDescription</td>
                    <td>@item.CName</td>
                    <td>@Empty2Dash(item.CellPhone)</td>
                    <td>@Empty2Dash(item.ICPMID)</td>
                    <td>@Empty2Dash(item.Email)</td>
                    <td>@Empty2Dash(item.TradeNo)</td>
                    <td>@item.CreateDate.ToString("yyyy/MM/dd")<br>@item.CreateDate.ToString("HH:mm:ss")</td>
                    <td>@GetLastModifier(item.CreateUser, item.Modifier)</td>
                    <td>@GetLastModifierTime(item.CreateDate, item.ModifyDate).ToString("yyyy/MM/dd")<br>@GetLastModifierTime(item.CreateDate, item.ModifyDate).ToString("HH:mm:ss")</td>
                    <td>@item.StatusName</td>
                    <td>
                        <div class="btn-box stb-btn-box">
                            <a href="@Url.Action("Detail", new
                                {
                                    CustomerServiceID = item.CustomerServiceID,
                                    CaseNo = query.CaseNo,
                                    CellPhone = query.CellPhone,
                                    CName = query.CName,
                                    Email = query.Email,
                                    EndDate = query.EndDate,
                                    ICPMID = query.ICPMID,
                                    PageNo = query.PageNo,
                                    PageSize = query.PageSize,
                                    StartDate = query.StartDate,
                                    Status = query.Status,
                                    TradeNo = query.TradeNo
                                })" class="btn" title="明細" target="_blank">明細</a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>