@using ICP.Modules.Mvc.Admin.Models.PaymentStatistics.TimingMonitor;
@model TimingMonitorLogVM
@{
    if (Request.IsAjaxRequest())
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutForAjax.cshtml";
    }

    string selectType = Model.SelectType.ToString();

    if (ViewBag.SelectType != null)
    {
        selectType = Convert.ToString(ViewBag.SelectType);
    }

    string rtnMsg = "";

    if(ViewBag.RtnMsg != null)
    {
        rtnMsg = Convert.ToString(ViewBag.RtnMsg);
    }
}
<div id="ldwm-history-popup" class="ldwm-history-popup mg-popup mfp-with-anim">
    <div class="pp-container">
        @Html.ValidationSummary()

        <div class="pp-content">
            <h4 class="pp-title">歷程</h4>
            <div class="pp-table pt-lhp-ac">
                <div class="pp-table-header">
                    <ul>
                        <li><p class="sth-txt">@Html.DisplayNameFor(m => m.ICPMID)</p></li>
                        <li><p class="sth-txt">@Html.DisplayNameFor(m => m.MerchantName)</p></li>
                    </ul>
                </div>
                <div class="pp-table-body">
                    <table>
                        <colgroup>
                            <col>
                            <col>
                        </colgroup>
                        <tr>
                            <td>@Model.ICPMID</td>
                            <td>@Model.MerchantName</td>
                        </tr>
                    </table>
                </div>
            </div>
            @using (Ajax.BeginForm("ListTimingMonitorLog", new { postType = "Add" }, new AjaxOptions() { HttpMethod = "POST" }))
            {
                @Html.HiddenFor(m => m.ICPMID)
                @Html.HiddenFor(m => m.SelectType)
                @Html.HiddenFor(m => m.MerchantID)
                @Html.HiddenFor(m => m.MerchantName)
                <div class="pp-form">
                    <dl>
                        <dt>@Html.DisplayNameFor(m => m.Remark)<span class="inp-required">*</span></dt>
                        <dd>
                            @Html.TextAreaFor(m => m.Remark, new { @class = "pp-textarea", placeholder = "請輸入備註說明", @maxlength = "300" })
                            <div class="input-tip-txt itt-r itt-er"><p id="remarkLength">0/300</p></div>
                        </dd>
                    </dl>

                    <dl class="lhp-switch">
                        <dt></dt>
                        <dd class="sf-radio-box">
                            <div class="def-radio status_1">
                                <input type="radio" value="1" id="lps_1" name="lhp_switch" checked>
                                <label for="lps_1" class="radio"><span class="lps-open">開啟</span> 觀察名單</label>
                            </div>
                            <div class="def-radio status_0">
                                <input type="radio" value="0" id="lps_2" name="lhp_switch">
                                <label for="lps_2" class="radio"><span class="lps-close">關閉</span> 觀察名單</label>
                            </div>
                            @Html.HiddenFor(m => m.Status)
                        </dd>
                    </dl>
                </div>

                <div class="mp-btn-block2">
                    <a href="#" class="btn link-submit" title="儲存">儲存</a>
                </div>
            }

            @{
                string cls = "pt-lhp-detail2";

                if (selectType == "1")
                {
                    cls = "pt-lhp-detail1";
                }
            }
            <div class="pp-table @cls pld-box pb-open">
                <div class="pp-table-header">
                    <ul>
                        @if (selectType == "1")
                        {
                            <li><p class="sth-txt">日期</p></li>
                            <li><p class="sth-txt">備註人員</p></li>
                            <li>
                                <label class="def-select">
                                    @using (Ajax.BeginForm("ListTimingMonitorLog", new { postType = "Query" }, new AjaxOptions() { HttpMethod = "POST" }))
                                    {
                                        @Html.HiddenFor(m => m.ICPMID)
                                        @Html.HiddenFor(m => m.MerchantID)
                                        @Html.HiddenFor(m => m.MerchantName)
                                        @Html.DropDownListFor(m => m.SelectType, new List<SelectListItem>()
                                        {
                                            new SelectListItem(){ Text = "觀察名單狀態", Value = "1" },
                                            new SelectListItem(){ Text = "已檢視", Value = "8" }
                                        }, new { onchange = "$(this.form).submit();" })
                                    }
                                </label>
                            </li>
                            <li class="colStatus"><p class="sth-txt">備註內容</p></li>
                        }
                        else
                        {
                            <li><p class="sth-txt">日期</p></li>
                            <li><p class="sth-txt">備註人員</p></li>
                            <li>
                                <label class="def-select">
                                    @using (Ajax.BeginForm("ListTimingMonitorLog", new { postType = "Query" }, new AjaxOptions() { HttpMethod = "POST" }))
                                    {
                                        @Html.HiddenFor(m => m.ICPMID)
                                        @Html.HiddenFor(m => m.MerchantID)
                                        @Html.HiddenFor(m => m.MerchantName)
                                        @Html.DropDownListFor(m => m.SelectType, new List<SelectListItem>()
                                        {
                                            new SelectListItem(){ Text = "觀察名單狀態", Value = "1" },
                                            new SelectListItem(){ Text = "已檢視", Value = "8" }
                                        }, new { onchange = "$(this.form).submit();" })
                                    }
                                </label>
                            </li>
                        }
                    </ul>
                </div>
                <div class="pp-table-body" id="logTable">
                    <table>
                        <colgroup>
                            @if (selectType == "1")
                            {
                                <col>
                            }
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        @foreach (var item in Model.LogList)
                        {
                            <tr>
                                <td>@item.CreateDate.ToString("yyyy/MM/dd")<br>@item.CreateDate.ToString("HH:mm:ss")</td>
                                <td>@item.Operator</td>
                                @if (selectType == "1")
                                {
                                    <td>
                                        @if (item.Status == 0)
                                        {
                                            <span>解除觀察</span>
                                        }
                                        else if (item.Status == 1)
                                        {
                                            <span class="lhp-red">列觀察中</span>
                                        }
                                    </td>
                                }
                                    <td>
                                        @if (selectType == "1")
                                        {
                                            @item.Remark
                                        }
                                        else
                                        {
                                            @:「已檢視相關交易，經依預警案件判斷原則(客戶資料、交易監控、行為監控)後，交易正常，故免申報」
                                        }
                                    </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        libs.alert.validationSummary();

        $('#Remark').on('keyup', function () {
            $('#remarkLength').text(this.value.length + '/300');
        });

        if ($.trim('@rtnMsg') != '') {
            if ('@rtnMsg' == 'OK') {
                $("#lnkQuery").trigger('click');
            } else {
                var message = @Html.Raw(Json.Encode(TempData["RtnMsg"]));
                alert(message);
            }
        }

        $(function () {

            var status = $('#Status').val();

            if (status == '1') {
                $('.status_1').hide();
                $('.status_0').show();
                $("input[name*='lhp_switch'][value='0']").attr("checked", true);
            } else {
                $('.status_1').show();
                $('.status_0').hide();
                $("input[name*='lhp_switch'][value='1']").attr("checked", true);
            }

            $('.link-submit').click(function () {
                $('#Status').val($('input[name=lhp_switch]:checked').val());

                if ($.trim($('#Remark').val()) == '') {
                    alert('請輸入備註');
                    return false;
                }
            });
        });

    </script>
}
