@using ICP.Modules.Mvc.Admin.Models.PaymentStatistics;
@model QueryWithdrawVM
@section header{
    <link href="~/Areas/Admin/Content/css/laundering.css" rel="stylesheet" />
}

<div class="sc-box no-edge">
    @using (Ajax.BeginForm("ListWithdraw", new AjaxOptions { UpdateTargetId = "queryResult" }))
    {
        <div class="scb-form sf-2column">
            <dl>
                <dt class="oneline-inp">@Html.DisplayNameFor(m => m.StartDate)</dt>
                <dd class="sbf-date-box">
                    <label class="sdb-item sdb-date sdb-single">
                        @Html.TextBoxFor(m => m.StartDate, new { @class = "flatpickr flatpickr-input active normalD", placeholder = "查詢日期", @readonly = "readonly" })
                    </label>
                </dd>
            </dl>
            <dl class="lad-check">
                <dd class="sf-check-box lc-width">
                    <div class="def-check">
                        @Html.CheckBoxFor(m => m.SelectTypeMode.SelectMode, new { id = "lwt_1" })
                        <label for="lwt_1" class="checkbox">@Html.DisplayNameFor(m => m.SelectTypeMode.SelectMode)</label>
                    </div>
                    <div class="def-check">
                        @Html.CheckBoxFor(m => m.SelectTypeMode.MonitorStaus, new { id = "lwt_2" })
                        <label for="lwt_2" class="checkbox">@Html.DisplayNameFor(m => m.SelectTypeMode.MonitorStaus)</label>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt class="oneline-inp">@Html.DisplayNameFor(m => m.MID)</dt>
                <dd>
                    @Html.TextBoxFor(m => m.MID, new { placeholder = "請輸入電支帳號" })
                </dd>
            </dl>
            <dl>
                <dt class="oneline-inp">@Html.DisplayNameFor(m => m.MerchantName)</dt>
                <dd>
                    @Html.TextBoxFor(m => m.MerchantName, new { placeholder = "請輸入商戶名稱" })
                </dd>
            </dl>
        </div>
        <div class="tab-wrap sc-tab-wrap2 stw-ldwm">
            @Html.HiddenFor(m => m.RuleMode)
            <ul class="tabs sc-tabs">
                <li data-tab=".ldwm-rule1">規則一</li>
                <li data-tab=".ldwm-rule2">規則二</li>
            </ul>
            <div class="sc-tab-content scb-form sf-2column">
                <div class="st-box ldwm-rule1">
                    <dl>
                        <dt class="oneline-inp">@Html.DisplayNameFor(m => m.TradeTypeList)</dt>
                        <dd>
                            <label class="def-select">
                                @Html.DropDownListFor(m => m.TradeType, Model.TradeTypeList)
                            </label>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="oneline-inp">@Html.DisplayNameFor(m => m.SortTypeList)</dt>
                        <dd>
                            <label class="def-select">
                                @Html.DropDownListFor(m => m.SortType1, Model.SortTypeList)
                            </label>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="oneline-inp">@Html.DisplayNameFor(m => m.WithdrawAmount)</dt>
                        <dd>
                            <div class="sf-inptxt">
                                @Html.TextBoxFor(m => m.WithdrawAmount, new { @class = "sip-inp" })
                                <span class="sip-txt">元以上</span>
                            </div>
                            <div class="sf-inptxt">
                                @Html.TextBoxFor(m => m.WithdrawCount, new { @class = "sip-inp" })
                                <span class="sip-txt">筆以上</span>
                            </div>
                        </dd>
                    </dl>
                    <dl class="lad-check">
                        <dt>@Html.DisplayNameFor(m => m.TransferTypeMode1)</dt>
                        <dd class="sf-check-box">
                            <div class="def-check">
                                @Html.CheckBoxFor(m => m.TransferTypeMode1.Auto, new { id = "lws1_1" })
                                <label for="lws1_1" class="checkbox">@Html.DisplayNameFor(m => m.TransferTypeMode1.Auto)</label>
                            </div>
                            <div class="def-check">
                                @Html.CheckBoxFor(m => m.TransferTypeMode1.Manually, new { id = "lws1_2" })
                                <label for="lws1_2" class="checkbox">@Html.DisplayNameFor(m => m.TransferTypeMode1.Manually)</label>
                            </div>
                        </dd>
                    </dl>
                    <dl class="lad-check">
                        <dt>@Html.DisplayNameFor(m => m.CommoditiyTypeMode1)</dt>
                        <dd class="sf-check-box">
                            <div class="def-check">
                                @Html.CheckBoxFor(m => m.CommoditiyTypeMode1.Real, new { id = "lpt1_1" })
                                <label for="lpt1_1" class="checkbox">@Html.DisplayNameFor(m => m.CommoditiyTypeMode1.Real)</label>
                            </div>
                            <div class="def-check">
                                @Html.CheckBoxFor(m => m.CommoditiyTypeMode1.Virtual, new { id = "lpt1_2" })
                                <label for="lpt1_2" class="checkbox">@Html.DisplayNameFor(m => m.CommoditiyTypeMode1.Virtual)</label>
                            </div>
                            <div class="def-check">
                                @Html.CheckBoxFor(m => m.CommoditiyTypeMode1.Extend, new { id = "lpt1_3" })
                                <label for="lpt1_3" class="checkbox">@Html.DisplayNameFor(m => m.CommoditiyTypeMode1.Extend)</label>
                            </div>
                            <div class="def-check">
                                @Html.CheckBoxFor(m => m.CommoditiyTypeMode1.Other, new { id = "lpt1_4" })
                                <label for="lpt1_4" class="checkbox">@Html.DisplayNameFor(m => m.CommoditiyTypeMode1.Other)</label>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="st-box ldwm-rule2">
                    <dl class="ldwm-oneline">
                        <dt class="oneline-inp">@Html.DisplayNameFor(m => m.Day7TransferCount)</dt>
                        <dd>
                            <div class="sf-inptxt">
                                @Html.TextBoxFor(m => m.Day7TransferCount, new { @class = "sip-inp" })
                                <span class="sip-txt">元以上</span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="oneline-inp">@Html.DisplayNameFor(m => m.SortTypeList)</dt>
                        <dd>
                            <label class="def-select">
                                @Html.DropDownListFor(m => m.SortType2, Model.SortTypeList)
                            </label>
                        </dd>
                    </dl>
                    <dl class="lad-check">
                        <dt>@Html.DisplayNameFor(m => m.TransferTypeMode2)</dt>
                        <dd class="sf-check-box">
                            <div class="def-check">
                                @Html.CheckBoxFor(m => m.TransferTypeMode2.Auto, new { id = "lws2_1" })
                                <label for="lws2_1" class="checkbox">@Html.DisplayNameFor(m => m.TransferTypeMode2.Auto)</label>
                            </div>
                            <div class="def-check">
                                @Html.CheckBoxFor(m => m.TransferTypeMode2.Manually, new { id = "lws2_2" })
                                <label for="lws2_2" class="checkbox">@Html.DisplayNameFor(m => m.TransferTypeMode2.Manually)</label>
                            </div>
                        </dd>
                    </dl>
                    <dl class="lad-check">
                        <dt>@Html.DisplayNameFor(m => m.CommoditiyTypeMode2)</dt>
                        <dd class="sf-check-box">
                            <div class="def-check">
                                @Html.CheckBoxFor(m => m.CommoditiyTypeMode2.Real, new { id = "lpt2_1" })
                                <label for="lpt2_1" class="checkbox">@Html.DisplayNameFor(m => m.CommoditiyTypeMode2.Real)</label>
                            </div>
                            <div class="def-check">
                                @Html.CheckBoxFor(m => m.CommoditiyTypeMode2.Virtual, new { id = "lpt2_2" })
                                <label for="lpt2_2" class="checkbox">@Html.DisplayNameFor(m => m.CommoditiyTypeMode2.Virtual)</label>
                            </div>
                            <div class="def-check">
                                @Html.CheckBoxFor(m => m.CommoditiyTypeMode2.Extend, new { id = "lpt2_3" })
                                <label for="lpt2_3" class="checkbox">@Html.DisplayNameFor(m => m.CommoditiyTypeMode2.Extend)</label>
                            </div>
                            <div class="def-check">
                                @Html.CheckBoxFor(m => m.CommoditiyTypeMode2.Other, new { id = "lpt2_4" })
                                <label for="lpt2_4" class="checkbox">@Html.DisplayNameFor(m => m.CommoditiyTypeMode2.Other)</label>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <input type="submit" id="btnQuery" value="query" style="display:none;" />
            <a href="#" class="btn" title="查詢" onclick="query();">查詢</a>
            <a href="#" class="btn btn-blue-border" title="清除條件" onclick="reset();">清除條件</a>
        </div>
    }
</div>

<div id="queryResult">
</div>

@section scripts {
    <script src="~/Areas/Admin/Scripts/PaymentStatistics/WithdrawMonitor/action.js"></script>
    <script type="text/javascript">
    </script>
}
